* {
    /* border: 1px solid red; */
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgrey;
}

.pixel-box {
    border: 1px solid black;
}
