* {
    border: 1px solid red;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

button {
    padding: 12px 24px;
    margin: 12px;
    font-size: 16px;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgrey;
}

.pixel-box {
    border: 1px solid black;
}

.button-set {
    display: flex;
    
    align-items: center;
    gap: 16px;
}